:root{
    --dark-bg: #111111;
    --black: #1c1c1c;
    --dark-color: #fff;
    --dark-border-shadow-hover-active: rgba(0, 81, 255, 0.61);
    --dark-second: #4A90E2;
    --dark-button-color-input-container-button-color: #3f3f3f;
    --dark-code: #282828;
}


.dark-mode{
    background-color: var(--black);
    color: var(--dark-color);
}

.dark-mode .chat-container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.42);
}

.dark-mode .input-container .input, .dark-mode .tool-container button, .dark-mode .chat-container, .dark-mode .conversation-container, .dark-mode .message, .dark-mode .input-container, .dark-mode .input-container button{
    background-color: var(--dark-bg);
    color: var(--dark-color);
    transition: all 0.3s ease;
}

.dark-mode .input-container button, .dark-mode .rated{
    border-color: var(--dark-second);
    transition: all 0.3s ease;
}

.dark-mode .input-container button:hover, .dark-mode .input-container button:active{
    background-color: var(--dark-border-shadow-hover-active);
    color: var(--dark-button-color-input-container-button-color);
}

.dark-mode .input-container .input{
    background-color: var(--dark-bg);
    color: #fff;
}


.dark-mode .tool-container button{
    color: #fff;
    background-color: var(--dark-second);
}

.dark-mode .chat-container{
    background-color: var(--dark-bg);
    border: 1px hidden;
}

.dark-mode .conversation-container{
    background-color: var(--dark-bg);
}

.dark-mode .message{
    background-color: var(--dark-bg);
    color: #fff;
}

.dark-mode .input-container{
    background-color: var(--dark-bg);
    border-color: var(--dark-bg);
}

.dark-mode .input-container button{
    color: #3f3f3f;
    border: none;
    background-color: var(--dark-second);
}

.dark-mode .rated{
    border-color: var(--dark-second);
}

.dark-mode .rating-hint{
    color: #fff;
    border-color: rgba(255, 255, 255, 0.78);
}


.dark-mode .code {
    background-color: var(--dark-code);
}

.dark-mode .user-message .icon{
    content: url("../pictures/User_Logo_white.svg");
    width: 20px;
    height: 20px;
}

.dark-mode .radio-rating-container{
    color: #fff;
    background-color: var(--black);
}

.dark-mode .suggestion{
    background-color: var(--dark-bg);
    color: #fff;
    transition: all 0.3s ease;
}

.dark-mode .suggestion:hover{
    background-color: #555555;
    color: #fff;
}

a{
    color: var(--dark-second);

}

.dark-mode .tool-container button:hover{
    border: #7eb8f5 2px solid;
}

.dark-mode .option{
    border-color: #4A90E2;
    color: #fff;
    transition: all 0.3s ease;
}

.dark-mode .question-control-buttons:hover{
    background-color: var(--dark-second);
    border: #7eb8f5 2px solid;
}

.dark-mode .question-control-buttons{
    background-color: var(--dark-second);
    border: var(--dark-second) 2px solid;
}

.dark-mode .question{
    background-color: var(--dark-code);
    color: #fff;
}

.dark-mode .answer{
    background-color: var(--dark-bg);
    color: #fff;
}

.dark-mode .answer:hover{
    background-color: var(--dark-second);
}

.dark-mode .clicked{
    background-color: var(--dark-second);
    color: #fff;
}