:root{
    --dark-bg: #333;
    --dark-color: #fff;
    --dark-border-shadow-hover-active: rgba(0, 81, 255, 0.61);
    --dark-button-bg-input-container-button-bg-rated-border: rgba(48, 140, 190, 0.62);
    --dark-button-color-input-container-button-color: #3f3f3f;
}

.dark-mode{
    background-color: var(--dark-bg);
    color: var(--dark-color);
}

.dark-mode .input-container input, .dark-mode .tool-container button, .dark-mode .chat-container, .dark-mode .conversation-container, .dark-mode .message, .dark-mode .input-container, .dark-mode .input-container button{
    background-color: var(--dark-bg);
    color: var(--dark-color);
    transition: all 0.3s ease;
}

.dark-mode .input-container button, .dark-mode .rated{
    border-color: var(--dark-button-bg-input-container-button-bg-rated-border);
    transition: all 0.3s ease;
}

.dark-mode .input-container button:hover, .dark-mode .input-container button:active{
    background-color: var(--dark-border-shadow-hover-active);
    color: var(--dark-button-color-input-container-button-color);
}

.dark-mode .input-container input{
    background-color: #333;
    color: #fff;
}


.dark-mode .tool-container button{
    color: #fff;
    background-color: rgba(48, 140, 190, 0.62);
}

.dark-mode .chat-container{
    background-color: #333;
    border: none;
}

.dark-mode .conversation-container{
    background-color: #333;
}

.dark-mode .message{
    background-color: #333;
    color: #fff;
}

.dark-mode .input-container{
    background-color: #333;

}

.dark-mode .input-container button{
    color: #3f3f3f;
    border: none;
    background-color: rgba(48, 140, 190, 0.62);
}

.dark-mode .rated{
    border-color: rgba(48, 140, 190, 0.62);
}