:root{
  --highlight-color: #4A90E2;
  --load-color: rgb(0, 123, 255);
  --light-bg: #f2f2f2;
  --white-bg: #fff;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--light-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  transition: all 0.3s ease;
  overflow: hidden;
}

*{
  box-sizing: border-box;
}

.message-content{
  word-wrap: break-word;
    max-width: 95%;

}

.chat-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
    max-width: 60vw;
  background-color: var(--white-bg);
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tool-container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.conversation-container{
  flex: 1;
  overflow-y: auto;
  padding: 10px;

}

.input-container{
  display: flex;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.84);
  border-top: 1px solid #e6e6e6;
}

.input-container .input{
  font-size: 16px;
  font-family: Arial, sans-serif;
  flex: 1;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.input-container button{
  padding: 10px;
  margin-left: 10px;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  background-color: var(--highlight-color);
  color: #3f3f3f;
  cursor: pointer;
  outline: none;
    transition: all 0.3s ease;
}

.input-container button img{
  width: 20px;
  height: 20px;
}

.input-container button:hover{
  background-color: rgba(0, 81, 255, 0.81);
}

.tool-container button{
  padding: 7px;
  border-radius: 90px;
  background-color: var(--highlight-color);
  cursor: pointer;
  outline: none;
    transition: all 0.3s ease;
  border: var(--highlight-color) 2px solid;
}

.tool-container button:hover{
  border: #002244 2px solid;
}

#conversation{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#conversation .message{
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.duo-message{
  display: flex;
  justify-content: center;
  gap: 3px;
}

.duo-message .message{
  width: 50%;
  border: solid 1px #c7c7c7;
  cursor: pointer;
}

.rating-disabled .message{
  cursor: default;
}

.rating-hint{
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-top: 1px solid #000000;
  margin-top: 10px;
}

.hidden{
  display: none;
}

.icon-container{
  height: 100%;
}

.ai-message .icon{
  content: url("../pictures/Chatbot_Logo.webp");
  width: 25px;
  height: 25px;
}

.user-message .icon{
  content: url("../pictures/User_Logo.svg");
  width: 20px;
  height: 20px;
}

.user-message{
  margin-top: 5px;
}

.name{
  font-weight: bold;
  margin-top: 5px;
  margin-left: 5px;
}

.message-content .text{
  margin-left: 5px;
  line-height: 1.75rem;
}

.error-message{
  color: red;
}

.error-message .icon{
  content: url("../pictures/error.svg");
  width: 20px;
  height: 20px;
}

.hint-bottom{
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hint-bottom p{
  padding: 0;
    margin: 2px;
}

.rating-disabled .rated{
  border: solid 3px var(--highlight-color);
}

.tool-text-img-box{
  display: flex;
  gap: 5px;
  align-items: center;
}

#scroller * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}


.popup {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.show {
  visibility: visible;
  opacity: 1;
}

.input-container {
  position: relative;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

.code {
  display: block;
  background-color: #f1efef;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow-x: scroll;
  max-width: 95%;
}

.rating-extended{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.radio-rating-container{
  border: #555555 1px solid;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.radio-rating{
    display: flex;
    gap: 5px;
    align-items: flex-end;
    flex-direction: column;

}

.radio-button{
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
}

#suggestions{
  display: grid;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
    gap: 5px;
    margin-top: 5px;
    padding: 5px;
  margin-inline: 5px;
}

.suggestion{
  font-size: 14px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: #cccccc 0.5px solid;
    transition: all 0.3s ease;
}

.suggestion:hover{
  background-color: rgb(241, 239, 239);
}



@media (max-width: 850px){
  .chat-container{
    max-width: 100vw;
  }

  body{
    height: 100%;
    position: fixed;
  }

}

@media (max-width: 400px){
  .duo-message .ai-message .icon{
    display: none;
  }

  #suggestions{
    word-break: break-all;
  }
}


/* load symbol when message is processed */

.dot-bricks {
  position: relative;
  top: 8px;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--load-color);
  color: var(--load-color);
  box-shadow: 9991px -16px 0 0 var(--load-color), 9991px 0 0 0 var(--load-color), 10007px 0 0 0 var(--load-color);
  animation: dot-bricks 2s infinite ease;
}

@keyframes dot-bricks {
  0% {
    box-shadow: 9991px -16px 0 0 var(--load-color), 9991px 0 0 0 var(--load-color), 10007px 0 0 0 var(--load-color);
  }
  8.333% {
    box-shadow: 10007px -16px 0 0 var(--load-color), 9991px 0 0 0 var(--load-color), 10007px 0 0 0 var(--load-color);
  }
  16.667% {
    box-shadow: 10007px -16px 0 0 var(--load-color), 9991px -16px 0 0 var(--load-color), 10007px 0 0 0 var(--load-color);
  }
  25% {
    box-shadow: 10007px -16px 0 0 var(--load-color), 9991px -16px 0 0 var(--load-color), 9991px 0 0 0 var(--load-color);
  }
  33.333% {
    box-shadow: 10007px 0 0 0 var(--load-color), 9991px -16px 0 0 var(--load-color), 9991px 0 0 0 var(--load-color);
  }
  41.667% {
    box-shadow: 10007px 0 0 0 var(--load-color), 10007px -16px 0 0 var(--load-color), 9991px 0 0 0 var(--load-color);
  }
  50% {
    box-shadow: 10007px 0 0 0 var(--load-color), 10007px -16px 0 0 var(--load-color), 9991px -16px 0 0 var(--load-color);
  }
  58.333% {
    box-shadow: 9991px 0 0 0 var(--load-color), 10007px -16px 0 0 var(--load-color), 9991px -16px 0 0 var(--load-color);
  }
  66.666% {
    box-shadow: 9991px 0 0 0 var(--load-color), 10007px 0 0 0 var(--load-color), 9991px -16px 0 0 var(--load-color);
  }
  75% {
    box-shadow: 9991px 0 0 0 var(--load-color), 10007px 0 0 0 var(--load-color), 10007px -16px 0 0 var(--load-color);
  }
  83.333% {
    box-shadow: 9991px -16px 0 0 var(--load-color), 10007px 0 0 0 var(--load-color), 10007px -16px 0 0 var(--load-color);
  }
  91.667% {
    box-shadow: 9991px -16px 0 0 var(--load-color), 9991px 0 0 0 var(--load-color), 10007px -16px 0 0 var(--load-color);
  }
  100% {
    box-shadow: 9991px -16px 0 0 var(--load-color), 9991px 0 0 0 var(--load-color), 10007px 0 0 0 var(--load-color);
  }
}



