{! Dieses Template stellt eine Standard Chatoberfläche dar und kann
mit Javascript beliebige Variationen von der Klasse Message darstellen. !}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{#insert title}Thesis-Chatbot{/}</title>
  <link rel="icon" type="image/x-icon" href="/pictures/Chatbot_Logo.webp">
  <link rel="stylesheet" href="./styles/style.css">
  <link rel="stylesheet" href="./styles/darkmode.css">
  {#insert styles}
  {/insert}

  <script src="js/base/UIService.js"></script>
  <script src="js/base/Message.js"></script>
  <script src="js/base/MarkdownParser.js"></script>
  <script src="js/base/LoadingMessage.js"></script>
  <script src="js/base/ErrorMessage.js"></script>
  {#insert scripts}
  {/}
</head>
<body>
<div class="chat-container">
  <div class="tool-container">
    <div class="left-tools">
      <button class="tool" id="quit"><img src="pictures/quit-icon.svg" width="24px" height="20px"></button>

      <button class="tool" id="clear">Clear</button>
    </div>
    <div class="right-tools">
      <div class="tool-text-img-box">
        <div>Theme:</div>
        <button class="tool" id="darkmode"><img src="pictures/darkmode.svg" width="24px" height="20px"></button>
      </div>
        <button class="tool" id="user"><img src="pictures/user-solid.svg" width="24px" height="20px"></button>
    </div>


  </div>
  <div class="conversation-container" id="scroller">

    <div id="conversation">
        {#insert firstMessage}
        {/}

    </div>
    <div id="anchor"></div>
  </div>
{#insert suggestions}
{/}
  <div class="input-container">
    <label for="input"></label>
    <textarea rows="1" id="input" class="input" placeholder="{#insert inputText}Frage mich etwas...{/}"></textarea>
    {#insert popUp}{/}
    <button id="send" class="send"><img src="pictures/send.svg" alt="absenden"></button>
  </div>
  <div class="hint-bottom">
    <p>Der Chat geht nach dem Neuladen der Seite verloren!</p>
  </div>
</div>

<div id="user-popup">
  <div>
    <button id="close-user-popup">X</button>
  </div>
  <div class="user-popup-input-container">

    <div class="name-input-container">
      <label for="user-name">Name:</label>
      <input type="text" id="user-name" placeholder="Hier deinen Namen eingeben" >
    </div>
  <div class="lecture-input-container">
    <label for="lecture">Vorlesung hinzufügen:</label>
    <select id="lecture">
      <option value="">Keine Vorlesung</option>
      {#for lecture in lectures}
        <option value="{lecture.name}" class="lecture-option">{lecture.name}</option>
      {/for}
    </select>
  </div>
  <div class="selected-lectures">
    <p id="selected-lectures-label">Deine Vorlesungen:</p>
    <div class="selected-lecture">Test <button class="remove-lecture">X</button></div>
  </div>
  <button id="save-user" class="">Speichern</button>
</div>
</div>
</body>

<script>

  const uiService = new UIService();
  const input = document.getElementById('input');
  const clear = document.getElementById('clear');
  {#insert services}
  {/}

  window.onload = function() {
    uiService.loadDarkMode();
    {#insert onLoad}
    {/}
  };

  // EventListener für das Wechseln des Themes
  document.getElementById('darkmode').addEventListener('click', function() {
    uiService.toggleDarkMode();
    uiService.saveDarkMode();
  });

  // EventListener für das automatische Anpassen des Inputfeldes
  input.addEventListener('input', function() {
    input.style.height = 'auto';
    input.style.height = (input.scrollHeight) + 'px';
    input.style.maxHeight = '300px';
  });

  // Eventlistener für das Löschen des Chats
  clear.addEventListener('click', function() {
    {#insert clearMessagesExtension}
    {/}
  });

  // Eventlistener für das Beenden des Chats
  document.getElementById('quit').addEventListener('click', function() {
    window.location.href = '/';
  });

  // Eventlistener für den UserButton
  document.getElementById('user').addEventListener('click', function() {
    uiService.userPopUp();
  });

  // Eventlistener für x des UserPopup
  document.getElementById('close-user-popup').addEventListener('click', function() {
    uiService.userPopUp();
  });

    // Eventlistener für das Senden einer Nachricht
  {#insert eventListener}

  {/}

</script>
</html>