{! Dieses Template stellt eine Standard Chatoberfläche dar und kann
mit Javascript beliebige Variationen von der Klasse Message darstellen. !}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{#insert title}Thesis-Chatbot{/}</title>
  <link rel="icon" type="image/x-icon" href="/pictures/Chatbot_Logo.webp">
  <link rel="stylesheet" href="./styles/style.css">
  <link rel="stylesheet" href="./styles/darkmode.css">
  {#insert styles}
  {/insert}

  <script src="js/base/UIService.js"></script>
  <script src="js/base/Message.js"></script>
  <script src="js/base/MarkdownParser.js"></script>
  <script src="js/base/LoadingMessage.js"></script>
  <script src="js/base/ErrorMessage.js"></script>
  <script src="js/base/StudentService.js"></script>
  {#insert scripts}
  {/}
</head>
<body>
<div class="chat-container">
  <div class="tool-container">
    <div class="left-tools">
      <button class="tool" id="quit"><img src="pictures/quit-icon.svg" width="24px" height="20px"></button>

      <button class="tool" id="clear">Clear</button>
    </div>
    <div class="right-tools">
      <div class="tool-text-img-box">
        <div>Theme:</div>
        <button class="tool" id="darkmode"><img src="pictures/darkmode.svg" width="24px" height="20px"></button>
      </div>
        <button class="tool" id="user"><img src="pictures/user-solid.svg" width="24px" height="20px"></button>
    </div>


  </div>
  <div class="conversation-container" id="scroller">

    <div id="conversation">
        {#insert firstMessage}
        {/}

    </div>
    <div id="anchor"></div>
  </div>
{#insert suggestions}
{/}
  <div class="input-container">
    <label for="input"></label>
    <textarea rows="1" id="input" class="input" placeholder="{#insert inputText}Frage mich etwas...{/}"></textarea>
    {#insert popUp}{/}
    <button id="send" class="send"><img src="pictures/send.svg" alt="absenden"></button>
  </div>
  <div class="hint-bottom">
    <p>Der Chat geht nach dem Neuladen der Seite verloren!</p>
  </div>
</div>



<div id="user-popup">

  <div class="user-popup-input-container">
    <div class="close-user-popup-container">
      <button id="close-user-popup">X</button>
    </div>
    <div id="personal-id-container">
      <label for="personal-id">Deine persönliche Benutzer-ID:</label>
      <div class="personal-id-field">
        <p id="personal-id"></p>
        <button id="copy-personal-id"><img src="/pictures/clone-solid.svg" alt="kopieren" height="25px" width="25px"></button>
      </div>
      </div>
    <div id="score-container">
    </div>
    <div class="name-input-container">
      <label for="user-name">Name:</label>
      <input type="text" id="user-name" placeholder="Hier deinen Namen eingeben" >
    </div>
  <div class="lecture-input-container">
    <label for="lecture-select">Vorlesung hinzufügen:</label>
    <select id="lecture-select">
      <option value="" class="lecture-option"></option>
      {#for lecture in lectures}
        <option value="{lecture.name}" id="{lecture.id}" class="lecture-option">{lecture.name}</option>
      {/for}
    </select>
  </div>
  <div class="selected-lectures">
    <p id="selected-lectures-label">Deine Vorlesungen:</p>
  </div>
    <div>
    <button id="save-user" class="save-button">Speichern</button>
    <button id="cancel-user" class="cancel-button">Abbrechen</button>
    </div>
</div>
</div>


</body>

<script>

  const uiService = new UIService();
  const studentService = new StudentService();
  const input = document.getElementById('input');
  const clear = document.getElementById('clear');
  let personalId;
  if (localStorage.getItem('personal-id')) {
      personalId = localStorage.getItem('personal-id');
    document.querySelector("#personal-id").innerHTML = personalId;
  }
  else {
      setPersonalId();
  }

  {#insert services}
  {/}

  window.onload = function() {
    uiService.loadDarkMode();
    studentService.setStudentDataInUI(personalId);
    uiService.addStudentScoresToUI(personalId, studentService);
    {#insert onLoad}
    {/}
  };

  // EventListener für das Wechseln des Themes
  document.getElementById('darkmode').addEventListener('click', function() {
    uiService.toggleDarkMode();
    uiService.saveDarkMode();
  });

  // EventListener für das automatische Anpassen des Inputfeldes
  input.addEventListener('input', function() {
    input.style.height = 'auto';
    input.style.height = (input.scrollHeight) + 'px';
    input.style.maxHeight = '300px';
  });

  // Eventlistener für das Löschen des Chats
  clear.addEventListener('click', function() {
    {#insert clearMessagesExtension}
    {/}
  });

  // Eventlistener für das Beenden des Chats
  document.getElementById('quit').addEventListener('click', function() {
    window.location.href = '/';
  });

  // Eventlistener für den UserButton
  document.getElementById('user').addEventListener('click', function() {
    uiService.userPopUp();
  });

  // Eventlistener für x des UserPopup
  document.getElementById('close-user-popup').addEventListener('click', function() {
    uiService.userPopUp();
  });

  // Eventlistener für cancel button
  document.getElementById('cancel-user').addEventListener('click', function() {
    uiService.userPopUp();
  });

  // Eventlistener für copy button
  document.getElementById('copy-personal-id').addEventListener('click', function() {
    const personalId = document.getElementById('personal-id');
    navigator.clipboard.writeText(personalId.textContent);
  });

  // Eventlistener für save button
  document.getElementById('save-user').addEventListener('click', function() {
    studentService.updateStudentData();
    uiService.userPopUp();
  });

  // Eventlistener für LectureOptions
  document.querySelector("#lecture-select").addEventListener('change', function() {
    // get the selected lectures index
    const select = document.querySelector("#lecture-select");
    const selectedLecture = select.options[select.selectedIndex];

    studentService.addLectureToUI(selectedLecture);
  });

  // Function to set the personal-Id
  async function setPersonalId() {
    personalId = await studentService.fetchNewStudentId();
    document.querySelector("#personal-id").innerHTML = personalId;
  }

    // Eventlistener für das Senden einer Nachricht
  {#insert eventListener}

  {/}

</script>
</html>