{#include base.html}
    {#title}multiple Choice Modus{/title}
  {#scripts}
        <script src="js/chat/DualMessage.js"></script>
        <script src="js/chat/RatingHint.js"></script>
        <script src="js/chat/ChatService.js"></script>
        <script src="js/chat/RatingService.js"></script>
        <script src="js/chat/RatingExtended.js"></script>
    {/scripts}
    {#styles}{/styles}
    {#onLoad}
    uiService.addMessage(new Message(null,"Hallo! Wie kann ich dir in den Themen Gesundheitsinformatik, Telemedizin und dem deutschen Gesundheitswesen behilflich sein?","ai"));
    {/onLoad}
    {#input}<textarea id="input" placeholder="Schreibe hier deine Nachricht..."></textarea>{/input}
    {#sendButton}<button id="send">Senden</button>{/sendButton}
    {#messages}
        <div id="scroller">
            <div class="message" id="message1">
                <div class="messageContent">Erkläre kurz was Gesundheitsinformatik ist, welche Vorteile ein Studium in dem
    {#popUp}<div class="popup" id="popup">Bitte gebe eine Bewertung ab!</div>{/popUp}
    {#eventListener}
        const ratingHint = new RatingHint();
        const chatService = new ChatService();


        // Verhindert XSS
        function sanitizeString(str) {
        return str.replace(/&/g, "&amp;")
        .replace(/</g, "&lt;")
        .replace(/>/g, "&gt;")
        .replace(/"/g, "&quot;")
        .replace(/'/g, "&#39;")
        .replace(/`/g, "&#96;");
        }

        // Eventlistener für die Vorschläge
        const suggestions = document.getElementsByClassName('suggestion');
        for (const suggestion of suggestions) {
        suggestion.addEventListener('click', function() {
        input.disabled = true;
        chatService.getDualAnswer(suggestion.textContent,ratingHint);
        document.getElementById('input').value = '';
        document.getElementById('suggestions').style.display = 'none';
        });


        // Eventlistener für das Absenden einer Nachricht bei Click auf Button
        send.addEventListener('click', function() {
        if (input.value === ''){

        } else{
        input.disabled = true;
        document.getElementById('suggestions').style.display = 'none';
        let inputText = sanitizeString(input.value);
        chatService.getDualAnswer(inputText,ratingHint);
        input.value = '';
        document.getElementById("scroller").scrollTo(0, document.getElementById("scroller").scrollHeight);
        }
        });

        // Eventlistener für das Absenden einer Nachricht bei Enter
        input.addEventListener('keyup', function(event) {
        if(input.value !== ''){
        if(event.key === 'Enter' && event.shiftKey){
        input.value += '\n';
        }
        else if (event.key === 'Enter' && !event.shiftKey) {
        input.disabled = true;
        document.getElementById('suggestions').style.display = 'none';
        let inputText = sanitizeString(input.value);
        chatService.getDualAnswer(inputText,ratingHint);
        input.value = '';
        input.style.height = 'auto';
        document.getElementById("scroller").scrollTo(0, document.getElementById("scroller").scrollHeight);
        }}
        });
        }

        uiService.enablePopUp();
    {/eventListener}
    {#suggestions}
        <div id="suggestions">
            <div class="suggestion" id="suggestion1">Erkläre kurz was Gesundheitsinformatik ist, welche Vorteile ein Studium in dem Bereich hat und wo man es studieren kann.</div>
            <div class="suggestion" id="suggestion2">Welche Aufgaben haben Zentriolen und welche Aufgaben haben die Mikrotubuli im Rahmen der Mitose und Meiose der menschlichen Zelle?</div>
            <div class="suggestion" id="suggestion3">Wie funktioniert das deutsche Gesundheitswesen?</div>
            <div class="suggestion" id="suggestion4">Was ist die Krankenhausreform 2023?</div>
        </div>
    {/suggestions}
    {#clearMessagesExtension}
        document.getElementById('suggestions').style.display = 'grid';
        chatService.clearMessages();
    {/clearMessagesExtension}
{/include}