<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thesis Bot Dokumente</title>

    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/dokumente.css">

    <script src="js/DocumentService.js" ></script>
</head>
<body>
<h1>Dokumente für die Wissensdatenbank</h1>
<div class="doku-liste-container">
    <div class="tool-container">
        <div class="tool-text-img-box">
            <div>Hinzufügen:</div>
            <button class="tool" id="add-document"><img src="pictures/file-plus.svg" width="25px" height="20px"></button>
        </div>
        <div class="tool-text-img-box">
            <div>Zum Chat:</div>
            <button onclick="window.location.href='/'" class="tool" id="navigate-chat"><img src="pictures/back-symbol.svg" width="25px" height="20px"></button>
        </div>
    </div>
    <ul class="doku-liste">

    </ul>

</div>
<div class="add-docu-container">
    <input type="text" id="docu-name" >
    <input type="file" >
</div>


</body>
<script>


    const documentService = new DocumentService();
    window.onload = async function () {
        const response = await fetch('/api/files/all', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const data = await response.json();
        console.log(data);
        data.forEach((file) => {
            const li = documentService.createListItem(file);
            document.querySelector('.doku-liste').appendChild(li);
        });
    }

</script>
</html>