{#include base.html}
{#title}multiple Choice Modus{/title}

    {#scripts}
    <script src="js/multipleChoice/MultipleChoiceService.js"></script>
    <script src="js/multipleChoice/OptionMessage.js"></script>
    <script src="js/multipleChoice/QuizStartMessage.js"></script>
    <script src="js/multipleChoice/QuizUIService.js"></script>
    <script src="js/multipleChoice/MultipleChoiceQuizMessage.js"></script>
    <script src="js/multipleChoice/MultipleChoiceQuestion.js"></script>
        <script src="js/multipleChoice/QuizEnd.js"></script>
        <script src="js/base/PossibleQuestionsService.js"></script>
    {/scripts}
    {#styles}
        <link rel="stylesheet" href="styles/mcStyle.css">
    {/styles}
    {#services}
        const multipleChoiceService = new MultipleChoiceService();
        const markdownParser = new MarkdownParser();
        const possibleQService = new PossibleQuestionsService(input);
        const quizUIService = new QuizUIService(uiService, multipleChoiceService);
    {/services}
    {#onLoad}
    document.getElementById("input").focus();
    {/onLoad}
    {#eventListener}

        // Verhindert XSS
        function sanitizeString(str) {
            return str.replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#39;")
            .replace(/`/g, "&#96;");
        }

        // Eventlistener für das Absenden einer Nachricht bei Click auf Button
        send.addEventListener('click', async function() {
            if (input.value === ''){
                return;
            } else{
                handleSendEvent();
            }
        });

        // Eventlistener für das Absenden einer Nachricht bei Enter
        input.addEventListener('keyup', async function(event) {
        if(input.value !== ''){
            if(event.key === 'Enter' && event.shiftKey){
                input.value += '\n';
            }
            else if (event.key === 'Enter' && !event.shiftKey) {
                handleSendEvent();
            }
            }
        });

        async function handleSendEvent() {
            // wandelt mögliche Sonderzeichen des Inputs um sodass diese nicht formatiert werden
            let inputText = input.value;

            // Macht das Inputfeld leer, eine Zeile hoch und scrollt ans ende des Chat-Feldes
            input.value = '';
            input.style.height = 'auto';
            document.getElementById("scroller").scrollTo(0, document.getElementById("scroller").scrollHeight);

            // Hole die Antwort
            const answer = await quizUIService.handleRequest(inputText);

            const formattedAnswer = markdownParser.parse(answer.answer);

            const message = answer.quizId ? new QuizStartMessage(answer.quizId, uiService, multipleChoiceService) : new Message(null, answer.answer, 'ai');

            // possibleQService.addPossibleQuestions(message, answer.possibleFollowUpQuestions);
            uiService.addMessage(message);
            // possibleQService.addClickListenerToPossibleQuestions();
        }


    {/eventListener}
    {#inputText}Chatte mit mir...{/inputText}
    {#clearMessagesExtension}

        const quizUIService = new QuizUIService(uiService, multipleChoiceService, [{#for lecture in lectures}{| { |}"name":"{lecture.name}", "id":"{lecture.id}"{| } |},{/for}]);

    {/clearMessagesExtension}

{/include}